.singleWord {
    justify-content: center;
    align-items: center;
    height: 30px;
    text-align: center;
    border: 1px solid #eee;
    margin-bottom: 24px;
    position: relative;
    border-radius: 24px;
    display: flex;
    text-transform: capitalize;
  }
  .singleWord:hover{
    background-color: #ccc;
    color: #fff;
  }
  .singleWord:hover .removeWord{
    color: #fff;
  }
  .removeWord{
    position: absolute;
    right: 8px;
    top: 4px;
    color: #ccc;
    cursor: pointer;
    font-size: 12px;
  }
  .removeWord:hover{
    background-color: #0d6efd;
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
  }